# which MQ software should be used
MQ_CLIENT_TYPE=rabbitmq

# RabbitMQ
RABBITMQ_HOST=${project_name}-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_HEART_BEAT=60
RABBITMQ_CONNECTION_TIMEOUT=300
RABBITMQ_RETRY_ATTEMPTS=5
RABBITMQ_RETRY_DELAY=5
RABBITMQ_USERNAME=developer
RABBITMQ_PASSWORD=password
RABBITMQ_PUBLISH_RETRY_ATTEMPTS=5
# 👇5 Seconds
RABBITMQ_PUBLISH_RETRY_DELAY=5
# 👇5 Seconds
RABBITMQ_CONSUMER_RETRY_DELAY=5
RABBITMQ_CONSUMER_PREFETCH_COUNT=3

# Notification topology
EMAIL_NOTIFICATION_EXCHANGE=email_notifications_exchange
EMAIL_NOTIFICATION_EXCHANGE_TYPE=direct

# Forgot password email queue
FORGOT_PASSWORD_EMAIL_QUEUE=forgot_password_email_queue
FORGOT_PASSWORD_EMAIL_QUEUE_ROUTING_KEY=forgot_password_email
FORGOT_PASSWORD_DEAD_LETTER_EMAIL_QUEUE=forgot_password_dead_letter_email_queue
FORGOT_PASSWORD_DEAD_LETTER_EMAIL_QUEUE_ROUTING_KEY=forgot_password_dead_letter_email

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=<your_email_address>
SMTP_PASSWORD=<your_email_password>
SMTP_FROM=<your_email_address>
SMTP_USE_TLS=True
