# RabbitMQ
RABBITMQ_HOST=${project_name}-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

NOTIFICATION_EXCHANGE=notification.exchange
EMAIL_QUEUE=email.queue

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_FROM=fromuser
SMTP_USE_TLS=True

