# CORS
ALLOWED_ORIGINS=["http://main-client.localhost"]
ALLOWED_CREDENTIALS=True
ALLOWED_METHODS=["*"]
ALLOWED_HEADERS=["*"]

# Database configuration
POSTGRES_SERVER=webapp-postgres
POSTGRES_PORT=5432
POSTGRES_DB=payment
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# JWT configuration
JWT_ENCRYPTION_ALGORITHM=HS256
JWT_ENCRYPTION_SECRET_KEY=530dc2ad82629ca706ec2b63558f788cc567ca6bbf680f10e3b70002bc8fb568

# which MQ software should be used
MQ_CLIENT_TYPE=rabbitmq

# RabbitMQ
RABBITMQ_HOST=${project_name}-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_HEART_BEAT=60
RABBITMQ_CONNECTION_TIMEOUT=300
RABBITMQ_RETRY_ATTEMPTS=5
RABBITMQ_RETRY_DELAY=5
RABBITMQ_USERNAME=developer
RABBITMQ_PASSWORD=password
RABBITMQ_PUBLISH_RETRY_ATTEMPTS=5
# 👇5 Seconds
RABBITMQ_PUBLISH_RETRY_DELAY=5

# Notification topology
EMAIL_NOTIFICATION_EXCHANGE=email_notifications_exchange
EMAIL_NOTIFICATION_EXCHANGE_TYPE=direct

# Forgot password email queue
FORGOT_PASSWORD_EMAIL_QUEUE=forgot_password_email_queue
FORGOT_PASSWORD_EMAIL_QUEUE_ROUTING_KEY=forgot_password_email

FRONTEND_BASE_URL=http://main-client.localhost
